.date-and-tags
  margin: 0 0 3px
  font-size: 14px
  overflow: hidden

  li
    list-style: none
    float: left
    margin: 0 7px 0 0
    color: rgba(black, .4) !important
    &:first-child
      margin-left: 0
    &:after
      content: '/'
      color: rgba(black, .1)
      margin-left: 6px

  .posttype
    text-transform: capitalize

  a
    color: rgba(black, .4)
    &:hover
      color: darken($green, 5%)


.posts
  .date-and-tags
    li
      span
        display: none
