// header
.header
  background: $green
  overflow: hidden

  .user-icon
    margin: 0
    padding: 0
    float: left
    line-height: 1
    font-size: 0

    a
      position: relative
      top: 0
      padding: 10px
      display: inline-block
      +tra(all)
      &:hover
        top: -10px
        opacity: .8

    .user-icon-placeholder
      background: url(http://static.tumblr.com/d9rtz7y/XuXnp1wv9/esa_face.jpg) center center no-repeat
      background-size: cover
      width: 32px
      height: 32px
      border-radius: 32px
      box-sizing: border-box
      display: inline-block

    img
      width: 32px
      height: 32px
      background: #fff




@media (min-width: 750px)
  .header
    background: $green
    position: fixed
    width: 80px
    height: 100%
    z-index: 4
    text-align: center

    .user-icon
      float: none
      a
        padding: 20px 0 10px
      .user-icon-placeholder,
      img
        width: 64px
        height: 64px
