body
  background: $beige
  font-family: Lato, 'Helvetica Neue', Arial, 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif









.img-circle
  border-radius: 100%




.ask
  h2
    font-size: 20px
    margin: 0 0 10px

  .btn-esa-primary
    font-size: 14px
    border: 1px solid rgba(black, .3)
    box-shadow: inset 0 1px 0 rgba(white, .3)
    color: #fff
    background: $green
    border-color: darken($green, 5%)
    text-transform: none
    +tra(background)
    &:hover
      background: darken($green, 10%)
      color: #fff







/* Larger than mobile */
// @media (min-width: 400px)

/* Larger than phablet (also point when grid becomes active) */
// @media (min-width: 550px)

/* Larger than tablet */
@media (min-width: 750px)

  .container
    max-width: 100%
    width: 100%

  .article
    margin-left: 80px

    .container
      margin: 0

    


    .main-section
      padding: 40px 0 0 40px


/* Larger than desktop */
// @media (min-width: 1000px)

/* Larger than Desktop HD */
// @media (min-width: 1200px)
