body
  background: $beige
  font-family: Lato, 'Helvetica Neue', Arial, 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif





// グローバルナビ（緑の部分）
.global-nav
  margin: 0
  float: left

  li
    float: left
    margin: 0
    list-style: none

  a
    color: rgba(black, .3)
    display: inline-block
    line-height: 32px
    font-size: 26px
    color: rgba(0,0,0,0.15)
    padding: 10px 15px
    &.active,
    &:hover
      color: rgba(white, .5)

  span
    display: none


// タイトルとか検索の部分 ベージュ
.aside
  background: $beige
  margin: 0
  padding: 10px
  overflow: hidden

  h1
    font-size: 1.3em
    font-weight: bold
    float: left
    line-height: 1
    margin: 0 10px 0 0
    opacity: .2


// 主本体
.article
  .main-section
    padding: 10px
    background: white

    h1
      font-size: 2rem
      margin: 1em 0
      .fa
        color: rgba(black, .3)
        margin: 0 10px 0 0

    .tags
      overflow: hidden

      li
        font-size: 13px
        list-style: none
        float: left
        margin: 0 10px 0 0
        &:before
          content: '# '
          opacity: .5

      .count
        color: #ccc
        background: #eee
        border-radius: 20px
        margin-left: 5px
        padding: 2px 5px
        font-size: 10px

      a
        &:hover
          text-decoration: none


.search
  position: relative
  text-align: right

  .search-button
    color: #ccc
    position: absolute
    right: 12px
    top: 2px
    line-height: 1


input[type="text"].search-input
  font-size: 14px
  border-radius: 20px
  height: 26px
  margin: 0
  position: relative
  top: -3px




// 連結型投稿
.posts

  &>li
    border-bottom: 1px solid #ddd
    margin: 10px 0
    padding: 10px 0
    list-style: none
    overflow: hidden
    position: relative

  .user-icon
    width: 64px
    float: left

    img
      width: 64px
      +tra(opacity)
      &:hover
        opacity: .8

  .post-content
    margin-left: 64px + 15px

  .tags
    margin: 0
    font-size: 14px
    line-height: 1.3
    a
      color: #ccc
    .date
      &:after
        content: ' /'
        color: #eee

  .post-title
    font-size: 1.5em
    margin: 0 0 5px
    a
      color: black
      &:hover
        color: darken($green, 5%)
        text-decoration: none

  .post-meta
    margin: 0
    &>li
      list-style: none
      margin: 0 5px 0 0
      padding: 0 5px 0 0
      float: left
      border-right: 1px solid #ddd
      line-height: 1.3
    a
      color: #ccc
      &.active
        color: $green
        .fa-heart
          color: pink
    .fa
      font-size: 10px
      margin-right: 5px

  .post-update
    position: absolute
    right: 0
    bottom: 8px
    font-size: .8em
    color: #aaa
    margin: 0


// 下部主本体
.footer
  background: $beige
  padding: 20px
  color: rgba(black, .3)

  a
    color: rgba(black, .3)

  .user-icon
    img
      width: 64px
    span
      position: relative
      top: -5px
      font-weight: bold

  .copyright
    font-size: 12px
    a
      font-weight: bold

.img-circle
  border-radius: 100%




.ask
  h2
    font-size: 20px
    margin: 0 0 10px

  .btn-esa-primary
    font-size: 14px
    border: 1px solid rgba(black, .3)
    box-shadow: inset 0 1px 0 rgba(white, .3)
    color: #fff
    background: $green
    border-color: darken($green, 5%)
    text-transform: none
    +tra(background)
    &:hover
      background: darken($green, 10%)
      color: #fff







/* Larger than mobile */
// @media (min-width: 400px)

/* Larger than phablet (also point when grid becomes active) */
// @media (min-width: 550px)

/* Larger than tablet */
@media (min-width: 750px)

  .global-nav
    float: none
    height: 100%

    li
      border-bottom: 1px solid rgba(black, .05)
      float: none
      margin: 0
      padding: 0
      a
        display: block
        margin: 5px 0
        padding: 5px 0
        &:hover
          text-decoration: none


  .container
    max-width: 100%
    width: 100%

  .article
    margin-left: 80px

    .container
      margin: 0

    .aside
      background: $beige
      margin: 0
      padding: 10px 20px
      overflow: hidden

      h1
        font-size: 150%
        font-weight: bold
        float: left
        line-height: 1
        margin: 0 10px 0 0
        opacity: .2

      .search
        float: left


    .main-section
      padding: 40px 0 0 40px


/* Larger than desktop */
// @media (min-width: 1000px)

/* Larger than Desktop HD */
// @media (min-width: 1200px)
