&.video
  .post-body
    // overflow: hidden

&.image
  img
    max-width: 100%

  .caption
    margin: 2em 0
    color: rgba(black, .8)

&.photoset
  .photoset_row
    width: 700px
    white-space: nowrap
    overflow: hidden
    margin-top: 10px

  .photoset_photo
    display: inline-block
    vertical-align: top
    margin-left: 10px
    &:first-child
      margin-left: 0 !important

  .caption
    margin: 2em 0
    color: rgba(black, .8)

&.chat
  ul
    list-style: none
    margin: 0

  li
    color: rgba(black, .6)

  .label
    font-weight: bold
    margin-right: 10px
    color: rgba(black, .8)

&.link
  .host
    font-size: 12px
    font-weight: bold
    margin: 0
    + h2
      margin-top: 10px

  .caption
    color: rgba(black, .5)
    background: rgba(black, .1)
    padding: 1em
    border-radius: 5px
    font-size: .8em
    p:last-child
      margin: 0
