&.video
  .post-body
    // overflow: hidden

&.image
  img
    max-width: 100%

  .caption
    margin: 2em 0
    color: rgba(black, .8)

&.photoset
  .photoset_row
    width: 700px
    white-space: nowrap
    overflow: hidden
    margin-top: 10px

  .photoset_photo
    display: inline-block
    vertical-align: top
    margin-left: 10px
    &:first-child
      margin-left: 0 !important

  .caption
    margin: 2em 0
    color: rgba(black, .8)
