.post
  .post-header
    margin: 1em 0

  .date-and-tags
    font-size: 16px

    + .post-meta
      margin-top: 1em

  .post-title
    a
      color: rgba(black, .8)
      &:hover
        color: darken($green, 5%)
        text-decoration: none

  .post-meta
    font-size: 13px
    border-bottom: 3px solid rgba(black, .1)
    padding-bottom: 1em

    > li
      list-style: none
      line-height: 1.3
      margin-bottom: 5px
    a
      color: rgba(black, .35)
      &:hover
        color: darken($green, 5%)
        text-decoration: none
        .fa-heart
          color: hotpink

    span
      margin-right: 5px

    .count
      display: inline-block
      min-width: 20px
      text-align: center
      color: rgba(black, .3)
      background: rgba(black, .08)
      border-radius: 20px
      padding: 2px 7px
      font-size: 9px
      font-family: 'Avenir Next', Avenir, sans-serif
      font-weight: bold
      letter-spacing: -.5px
      position: relative
      top: -2px

    .fa
      margin-right: 5px


  .post-body
    margin: 0 0 60px

    h1
      font-size: 1.8em
      border-bottom: 3px solid rgba(black, .1)
      margin: 30px 0 10px
      padding-bottom: 10px
      color: rgba(black, .7)

    h2
      font-size: 1.4em
      margin: 30px 0 10px
      padding: 0 0 10px
      border-bottom: 1px solid rgba(black, .1)

    h3
      margin: 30px 0 10px
      font-size: 1.2em
      font-weight: bold


    ul
      list-style: disc
      margin: 20px 0 20px 40px
      ul
        list-style: circle
        margin: 0 0 0 40px
        font-size: 100%

    ol
      list-style: decimal
      margin: 20px 0 20px 40px

    li
      margin: 10px 0

    .emoji
      width: 20px
      height: 20px
      vertical-align: text-bottom

    iframe
      max-width: 100%

  @import '_post-types'
