.tags
  overflow: hidden

  li
    font-size: 13px
    list-style: none
    float: left
    margin: 0 10px 0 0

  .count
    color: rgba(black, .3)
    background: rgba(black, .08)
    border-radius: 20px
    margin-left: 5px
    padding: 2px 7px
    font-size: 9px
    font-family: 'Avenir Next', Avenir, sans-serif
    font-weight: bold
    letter-spacing: -.5px

  a
    &:hover
      text-decoration: none
    &:before
      content: '# '
      opacity: .5
